.card {
  margin-bottom: 25px;
  border: 1px solid rgb(231, 231, 231);
}

.card:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.card img {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.imageBox {
  height: 160px; /*can be anything*/
  width: 160px; /*can be anything*/
  position: relative;
}

.productNameText {
  width: 100%;
  height: 50px;
  font-size-adjust: initial;
  overflow: hidden;
}

.descriptionBox {
  width: 100%;
  height: 50px;
  overflow:hidden;
}

.priceText {
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}