.App {
  text-align: center;
}

#generalStyle {
  color: #555555;
  font-weight: bold;
  font-family: "Segoe UI";
}

#border {
  border-color: #000000;
  border-width: 2px;
}

#margins {
  margin-left: 1%;
  margin-right: 1%;
}


ul {
  list-style: none;
}
