.App {
  text-align: center;
}

/* override bootstrap navbar colors */
.navbar, .navbar-default {
  background-image: linear-gradient(to bottom,rgb(230, 230, 230) 0,rgb(230, 230, 230) 100%) !important; /* override background image gradient w/ flat color */
  border-color: rgb(202, 202, 202);
  border-width: 1px;
  border-style: solid;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

#generalStyle {
  color: #555555;
  font-family: "Segoe UI";
}


#border {
  border-color: #ffffff;
  border-width: 2px;
}

#margins {
  margin-left: 10%;
  margin-right: 10%;
}

#root {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

body {
  padding-top: 80px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  #margins {
    margin-left: 3%;
    margin-right: 3%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {

}