.splitInTwo {
  width: 90%;
}

.addressLeftColumn {
  float:left;
  width: 30%;
}

.addressRightColumn {
  float: right;
  width: 60%;
}

.profileLeftColumn {
  float:left;
  width: 45%;
}

.profileRightColumn {
  float: right;
  width: 45%;
}

#Dashboard {
  background-color: #ffffff;
}
